# Ignore Eclipse build output
bin/

# Ignore Eclipse project settings
.settings/

# Ignore Eclipse project metadata files
.classpath
.project

# Ignore JavaFX build folder
build.fxbuild/

# Ignore other files
*.log
*.tmp
